{% raw %}{% load tailwind_cli static %}{% endraw %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="icon" type="image/png" href="{% raw %}{% static 'images/favicon.png' %}{% endraw %}">
    <link rel="apple-touch-icon" href="{% raw %}{% static 'images/favicon.png' %}{% endraw %}">
    <title>
        {{ cookiecutter.project_name }} | {% raw %}{% block title %}{% endblock %}{% endraw %}
    </title>
    {% raw %}{% tailwind_css %}{% endraw %}
    {%- if cookiecutter.use_htmx == 'yes' %}
    <script src="{% raw %}{% static 'js/htmx.min.js' %}{% endraw %}" defer></script>
    {%- endif %}
</head>

<body {%- if cookiecutter.use_htmx == 'yes' %} hx-headers='{"X-CSRFToken": "{% raw %}{{ csrf_token }}{% endraw %}"}'
    {% endif %}>
    <main>
        {% raw %}
        {% block content %}
        {% endblock %}
        {% endraw %}
    </main>
</body>

</html>